<app-header></app-header>
<h2>Who Am I?</h2>

<div class="bio">
  <p>
    I am a recent graduate from Grand-Circus Coding Bootcamp focused on
    Front-End Development. Before bootcamp started, I was on the pre-medical
    track and graduated last year with a Bachelor in Science in Public Health.
    Coming from a non-technical background, I was always intrigued by coding
    back in high school. I took a couple of coding classes. Fast forward to high
    school, I had peers that gave me the opportunity to sit in with them and
    observe their personal projects they have developed, eventually learning the
    fundamentals of HTML5/CSS. After college graduation, I took that leap of
    faith and transitioned into software development by enrolling into
    Grand-Circus Coding Bootcamp course. I am ready to take on challenges and
    dive into become a well-rounded developer!
  </p>
</div>
